<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmSquare</title>
     
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmSquare.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-success border-bottom box-shadow mb-3" style="background: linear-gradient(to left, rgba(0, 255, 127, 0.1), rgba(124, 252, 0, 0.9));">
            <div class="container ">
                <a class="navbar-brand" asp-area="" asp-page="/Index"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"</button>

                <img src="~/farmsquare rmovebg.png" alt="Cart" class="navbar-logo" style=" max-width: 200px; height: auto; margin-left: 10px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"

                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <img src="~/Images/lo.png" alt="Alternate Text" style="max-width:200px; height:auto;" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-5" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-5" asp-area="" asp-page="/Admin/Admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-5" asp-area="" asp-page="/Supplier/SupLogin">Supplier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-5" asp-area="" asp-page="/Customer/CustomerLogin">Customer</a>
                        </li>                                  
                    </ul>           
                                
                </div>
            </div>
            <div class="w-25" style="text-align:center">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link text-dark position-relative" asp-area="" asp-controller="Cart" asp-action="Index">
                        <img src="~/buy.png" alt="Cart" style="width: 24px; height: 24px; margin-right: 5px;"> <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>
                @{
                    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                    int? sessionId = HttpContextAccessor.HttpContext.Session.GetInt32("cust_id");
                    if (sessionId != null)
                    {
                        <li class="nav-item">
                                <div class="btn-group">
                                    <button class="btn  dropdown-toggle bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Profile
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/Customer/OrderHistory">Order History</a></li>
                                        <li><a class="dropdown-item" href="/Customer/Profile">Edit Profile</a></li>    
                                        <li><a class="dropdown-item" href="/Logout">Logout</a></li>   
                                    </ul>
                                </div>
                        </li>
                    }

                   
                }

            </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-black bg-success" style="background: linear-gradient(to left, rgba(0, 255, 127, 0.1), rgba(124, 252, 0, 0.9));">
        <div class="container">
            &copy; 2024 - FarmSquare - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
  
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-ve    rsion="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
