@page
@model FarmCart.Pages.Supplier.EditProductModel
@{
}
<div class="container d-flex align-items-center justify-content-center">
 <div class="w-50 border border-2 p-4 rounded-3 shadow-lg bg-light mt-5">
     <div class="flex-wrap col-lg-10 ">
         <form method="post" enctype="multipart/form-data" class="ps-5 ">
             <img src="~/Images/lo.png" alt="Alternate Text" style="max-width:200px; height:auto; margin-left:10rem;" />
            <input type="hidden" asp-for="editdata.product_id" />
             <div>
                 <label asp-for="editdata.product_name">Product Name</label>
                 <input asp-for="editdata.product_name" class="form-control" />
             </div>
             <div>
                 <label asp-for="editdata.brand_name">Brand Name</label>
                 <input asp-for="editdata.brand_name" class="form-control" />
             </div>
             <div>
                 <label asp-for="editdata.product_description">Description</label>
                 <textarea asp-for="editdata.product_description" class="form-control"></textarea>
             </div>
             <div>
                 <label asp-for="editdata.product_price">Price</label>
                 <input asp-for="editdata.product_price" class="form-control" />
             </div>
             <div>
                 <label asp-for="editdata.product_quantity"></label>
                 <input asp-for="editdata.product_quantity" class="form-control" />
             </div>
               <div>
                   <label asp-for="editdata.imagefile">Choose File</label>
                    <input asp-for="editdata.imagefile" class="form-control" type="file" />
               </div>
             <div>

                    <button type="submit" class="btn mt-3 " style="background-color:limegreen;color:white;">Update</button>
             </div>
         </form>
     </div>

 </div>
 </div>