@page
@model FarmCart.Pages.Supplier.SupHomeModel
@{  
}



<div class="card bg-dark text-white ">
    <img src="~/Images/SupplierHome.png" alt="Alternate Text" class="img-fluid" />
    <div class="card-img-overlay d-flex flex-column justify-content-center text-center  ">
        <img src="~/Images/lo.png" alt="Alternate Text" style="max-width:500px; height:auto; margin-left:30rem;" />

        <h1>Partner With Us – Add Your Products Today!</h1>
        <h5>Reach new customers and grow your business with farmsquare. Showcase your products to thousands of buyers worldwide</h5>

        <a href="/Supplier/AddProduct" class="btn btn-success w-25" style="background-color:limegreen; color:white; margin-left:33rem;">Add Product</a>
        
    </div>
</div>

