@page
@model FarmCart.Pages.Supplier.Supplier
@{

    Layout = "_Layout";
}

<div class="container  d-flex align-items-center justify-content-center vh-100 ">
    <div class="w-50 border border-2 p-4 rounded-3 shadow-lg bg-light">
        <img src="~/Images/lo.png" alt="Alternate Text" style="max-width:200px; height:auto;margin-left:12rem;" />
         @* <h2>Create Account</h2> *@
        <form method="post">
            <div class="mb-3">
                <label asp-for="Sup.Name" class="form-label">Name</label>
                <input asp-for="Sup.Name" class="form-control">
                <span asp-validation-for="Sup.Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Sup.Email" class="form-label">Email address</label>
                <input asp-for="Sup.Email" class="form-control">
                <span asp-validation-for="Sup.Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Sup.PhoneNumber" class="form-label">Phone</label>
                <input asp-for="Sup.PhoneNumber" class="form-control">
                <span asp-validation-for="Sup.PhoneNumber"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Sup.Password" class="form-label">Password</label>
                <input asp-for="Sup.Password" class="form-control" type="password">
                <span asp-validation-for="Sup.Password"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Sup.ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="Sup.ConfirmPassword" class="form-control" type="password">
                <span asp-validation-for="Sup.ConfirmPassword"></span>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn me out</label> " style=" background-color:limegreen" asp-page-handler="Send">Sign up</button>
            </div>
        </form>
    </div>
</div>