@page
@model FarmSquare.Pages.Customer.Customer
@{
}

<div class="container  d-flex align-items-center justify-content-center vh-100 ">
    <div class="w-50 border border-2 p-4  rounded-3">
        <h2>Create Account</h2>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <p>
                    <span> Already have an account?</span><a class="link-offset-2 link-underline link-underline-opacity-0 text-decoration-none" href="#">Sign in</a>
                </p>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn me out</label> btn-primary">Sign up</button>
            </div>
        </form>
    </div>
</div>
