@page
@model FarmSquare.Pages.Customer.Customer
@{
}

<div class="container  d-flex align-items-center justify-content-center vh-100 ">
    <div class="w-50 border border-2 p-4  rounded-3">
        <h2>Create Account</h2>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Cust.Name" class="form-label">Name</label>
                <input asp-for="Cust.Name" class="form-control">
                <span asp-validation-for="Cust.Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cust.Email" class="form-label">Email address</label>
                <input asp-for="Cust.Email" class="form-control">
                <span asp-validation-for="Cust.Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cust.PhoneNumber" class="form-label">Phone</label>
                <input asp-for="Cust.PhoneNumber" class="form-control">
                <span asp-validation-for="Cust.PhoneNumber"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cust.Password" class="form-label">Password</label>
                <input asp-for="Cust.Password" class="form-control" type="password">
                <span asp-validation-for="Cust.Password"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cust.ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="Cust.ConfirmPassword" class="form-control" type="password">
                <span asp-validation-for="Cust.ConfirmPassword"></span>
            </div>
            <div class="mb-3">
                <p>
                    <span> Already have an account?</span><a class="link-offset-2 link-underline link-underline-opacity-0 text-decoration-none" asp-page="CustLogin">Sign in</a>
                </p>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn me out</label> btn-primary" asp-page-handler="Send">Sign up</button>
            </div>
        </form>
    </div>
</div>
