@page
@model FarmCart.Pages.Customer.LoginModel
@{
}
<div class="container  d-flex align-items-center justify-content-center">
    <div class="w-50  border border-2 p-4  rounded-3">
        <h2>Login</h2>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn me out</label> btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

